@import "tailwindcss";

body{
  font-family: "Jost", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.activeMenu{
  background-color: rgba(0, 0, 0, 0.5);
}
.activeMenu ul{
  @apply bg-black py-8
}